<form (ngSubmit)="next()">
  <div class="photo" *ngIf="photo">
    <figure>
      <img src="{{ photo.url }}" alt="photo du singe">
      <figcaption>{{ photo.attribution }}</figcaption>
    </figure>
  </div>
  <div class="question">
    <h2>Quel est ce singe ?</h2>
    <div class="answers">
      <ul>
        <li *ngFor="let r of question.responses">
          <label><input type="radio" name="answer" [(ngModel)]="response" value="{{ r }}">{{ r }}</label>
        </li>
      </ul>
    </div>
    <button type="submit" [disabled]="!response">Valider</button>
  </div>
</form>

<!--<pre>{{question|json}}</pre>-->
<!--<pre>{{photo|json}}</pre>-->
<!--<pre>{{response}}</pre>-->
